:root {
	--accent: #FCAF45;
	--background: #383A59;
	--font-color: #C1C2C1;
	--textarea-background: #282A36;
	/* --textarea-background: #353535; */
}
html {
	height: fill-available;
}
body {
	height: fill-available;
	margin: 0%;
	background-color: var(--background);
}

h1 {
	text-align: center;
	font-family: sans-serif;
	color: var(--accent);

	margin: 0;
	padding: 1em;

}

textarea {
	width: 90%;
	padding: 0.5em 1em;

	background-color: var(--textarea-background);
	border: .2em solid var(--font-color);
	border-radius: 4px;

	color: var(--font-color);
	font-family: 'Cascadia Code', monospace;
	font-size: 1.5em;

	white-space: pre;
	overflow-wrap: normal;
	
}

textarea:focus {
    outline: none !important;
    border: .2em solid var(--accent);
}

.textAreaContainer {
	display: flex;
	align-items: center;
}


/*
Diseño movil
*/
@media only screen and (max-width: 700px) {
	.textAreaContainer {
		flex-direction: column;
	}

	textarea {
		min-height: 40vh;
		margin: 1em 0;
	}
}

/*
	Diseño Ordenador
*/
@media only screen and (min-width: 700px) {
	.textAreaContainer {
		flex-direction: row;
	}

	textarea {
		min-height: 80vh;
		margin: 0 2em;
	}
}
