body {
	background-color: darkblue;
}

textarea {
	display: block;
	height: 20em;
	width: 100%;
	margin: 4px;
	background-color:dimgrey;
	color: antiquewhite;
}

.textAreaContainer {
	display: flex;
	justify-content: space-evenly;
	/* flex-direction: column; */
	height: max-content;
}
